
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  margin-bottom: 10px;
  color: #333;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #007bff;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
  background-color: #0056b3;
}


button a {
  color: #fff; 
  text-decoration: none; 
}

button:hover a {
  color: #fff; 
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  background-color: #f0f0f0;
  padding: 10px;
  color: #666;
}

/* Menu Styles */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.food-item {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.food-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.food-details {
  padding: 10px;
  background-color: #fff;
}
.food-details h3 {
  margin: 5px 0;
}
.food-details p {
  margin: 5px 0;
  color: #666;
}